<template lang="pug">
    div
        div(v-if="cargo")
            .col-lg-12.col-sm-12(class="bg-primary text-white font-weight-bold") Cargos Generados
            .colp-lg-12.content.p-1
                .btn-group(role="group")
                    button.btn.btn-primary(@click="nuevoCargo")  #[i.fas.fa-book] Nuevo
                    button.btn.btn-primary(@click="anular")  #[i.fas.fa-edit] Editar
                    button.btn.btn-primary  #[i.fas.fa-sign-out-alt] Salir

            .col-lg-12
                .row.mt-4.p-2
                    .col-lg-10
                        div.text-border
                            label.text-primary.font-weight-bold Configuracion Filtro
                            .col-lg-12.p-3
                                .row
                                    .col-md-3
                                        .row
                                            .col-md-3
                                                span.text-input.mr-1 Estado:
                                            .col-md-9
                                                select.input-form(style="width: 100%;")
                                                    option GENERADO
                                    .col-md-3
                                        .row
                                            .col-md-3
                                                span.text-input.mr-1 Local:
                                            .col-md-9
                                                select.input-form(style="width: 100%;")
                                                    option SEDE
                                    .col-md-4
                                        .row
                                            .col-md-3
                                                span.text-input.mr-1 Fecha:
                                            .col-md-9
                                                input.input-form(type="datetime-local")

                                    .col-md-2(style="display: inline-flex;")
                                        button.btn.btn-light(style="display: flex;padding: 5px 10px;font-size: 11px;")
                                            i.fas.fa-filter
                                            span  Filtrar

                                        button.btn.btn-light.ml-2(style="padding: 5px 10px;font-size: 11px;")
                                            i.fas.fa-plus(style="transform: rotate(45deg);")
                                    .col-md-6
                                        .row
                                            .col-md-2
                                                span.text-input.mr-1 Dependencia:
                                            .col-md-10
                                                div(style="border:solid 1px #ccc;border-radius:5px;background:#ddd")
                                                    input(type="text" class="input-form pl-1" style="border:transparent;width:94%;border-radius:0px" placeholder="[TODO]")
                                                    i.fas.fa-search.p-1
                                                    
                    .col-lg-10.mt-2
                        div.text-border
                            label.text-primary.font-weight-bold(style="width:65px") Detalle
                            .col-lg-12.p-3
                                .table-responsive
                                            table.table.table-primary.mb-0
                                                thead
                                                    tr(style="font-size:12px")
                                                        th 
                                                            span.text-primary.font-weight-bold NRO
                                                        th 
                                                            span.text-primary.font-weight-bold FECHA 
                                                        th 
                                                            span.text-primary.font-weight-bold LOCAL
                                                        th 
                                                            span.text-primary.font-weight-bold DESTINO
                                                        th 
                                                            span.text-primary.font-weight-bold ESTADO
                                                    tbody
                                            div.text-center(style="width:100%;background:#fdf5ce;color:#d2ce8d;border:solid 1px #d2ce8d;")
                                                span NO HAY INFORMACION DISPONIBLE EN LA TABLA
                                    
        cargos-generar(v-if="nuevocargo" @click="cerrarcargo")                     
        cargos-anular(v-if="cargoanular" @click="cerraranularcargo")       
</template>
<script>

export default {
    props:[],
    data() {
        return {
            nuevocargo:false,
            cargo:true,
            cargoanular:false
        }
    },
    mounted() {

    },
    methods: {
       nuevoCargo(){
            this.nuevocargo = true
            this.cargo = false
        },
        cerrarcargo(){
            this.cargo = true
            this.nuevocargo = false
        },
        anular(){
            this.cargoanular = true
            this.cargo = false
        },
        cerraranularcargo(){
            this.cargoanular = false
            this.cargo = true
        }
    },
    created() {
    },
}
</script>
