<template lang="pug">
    div
        div(v-if="cargo")
            .col-lg-12.col-sm-12(class="bg-primary text-white font-weight-bold") Cargos Generados
            .colp-lg-12.content.p-1
                .btn-group(role="group")
                    button.btn.btn-primary(@click="nuevoCargo")  #[i.fas.fa-book] Nuevo
                    button.btn.btn-primary  #[i.fas.fa-edit] EDITAR
                    button.btn.btn-primary  #[i.fas.fa-sign-out-alt] SALIR

            .col-lg-12
                .row.mt-4.p-2
                    .col-lg-12
                        div.text-border
                            label.text-primary.font-weight-bold Configuracion Filtro
                            .col-lg-12.p-3
                                .row
                                    
                                    .col-lg-3.row
                                        .col-lg-4
                                            span.text-input Estado: 
                                        .col-lg-8
                                            select(  class="input-form" style="width:100%")
                                                    option(value="1") GENERADO
                                    .col-md-3.mt-1
                                        .row
                                            .col-md-3
                                                span.text-input.mr-1 Local:
                                            .col-md-9
                                                select( class="input-form" style="width:100%")
                                                    option(value="1") Sede
                                    .col-md-6.row
                                        div.mr-4(style="border:solid 1px #ccc; width:190px;")
                                            span.text-input DEL: 01/07/2019 AL: 01/07/2019
                                        button.btn.btn-light.text-primary.font-weight-bold(style="font-size:11px;border:solid 1px #ccc") #[i.fas.fa-filter] Filtrar 
                                        button.btn.btn-light.text-primary.font-weight-bold(style="font-size:11px;border:solid 1px #ccc") #[i.fas.fa-times]
                                        
                                    .col-lg-8.mt-1
                                            .row
                                                .col-lg-1.mr-4
                                                    span.text-input.mr-1 Dependencia:
                                                .col-lg-10
                                                    div(style="width:100%;border:solid 1px #ccc;border-radius:5px;background:#ddd")
                                                        input(type="text" class="input-form pl-1" style="border:transparent;width:95%;border-radius:0px" placeholder="[TODOS]")
                                                        i.fas.fa-search.p-1
                                    
                    .col-lg-12.mt-2
                        div.text-border
                            label.text-primary.font-weight-bold Datos del remitente
                            .col-lg-12.p-3
                                .row
                                    .col-lg-3
                                        div
                                            span.text-input.mr-5.pr-4 Tipo:
                                            select(v-model="type1"  class="input-form" )
                                                option(value="1") CIUDADANO
                                        div.mt-1
                                            span.text-input.mr-4.pr-2 Emisor Resp:
                                            select(v-model="type2"  class="input-form")
                                                option(value="1") CIUDADANO
                                        div.mt-1
                                            span.text-input.mr-4 Departamento:
                                            select(v-model="type3"  class="input-form")
                                                option(value="1") --Seleccionar--
                                        div.mt-1
                                            span.text-input.mr-5 telefono:
                                            input.input-form(type="text" )
                                    .col-lg-9.pl-0
                                        div
                                            div.row
                                                span.text-input DNI:
                                                input.input-form(type="text" )
                                                div(style="width:45%;border:solid 1px #ccc;border-radius:5px;background:#ddd")
                                                    input(type="text" class="input-form pl-1" style="border:transparent;width:94%;border-radius:0px" )
                                                    i.fas.fa-search.p-1
                                            div.row.mt-1
                                                span.text-input DNI:
                                                input.input-form(type="text" )
                                                div.mr-2(style="width:45%;border:solid 1px #ccc;border-radius:5px;background:#ddd")
                                                    input(type="text" class="input-form pl-1" style="border:transparent;width:94%;border-radius:0px" )
                                                    i.fas.fa-search.p-1
                                                span.text-input.mr-4 Cargo:
                                                input.input-form(type="text" )
                                            div.row.mt-1
                                                span.text-input.mr-4 Provincia:
                                                select.mr-2(v-model="type5"  class="input-form" style="width:26%")
                                                    option(value="1") --Seleccionar--
                                                span.text-input.mr-4 Distrito:
                                                select(v-model="type6"  class="input-form mr-2" style="width:26%")
                                                    option(value="1") --Seleccionar--
                                                span.text-input.mr-1 Direccion:
                                                input.input-form(type="text" )
                                            div.row.mt-1
                                                span.text-input Correo:
                                                input.input-form(type="text" style="width:70%")
                                                input.mt-1.ml-1(type="checkbox") 
                                                span Notificarme
                    .col-lg-12.mt-3
                        div.text-border
                            label.text-primary.font-weight-bold Datos del documento
                            .col-lg-12.p-3
                                .row
                                    .col-lg-6
                                        div.row
                                            span.text-input.mr-4.pr-1 Tipo:
                                            select(v-model="type7"  class="input-form mr-1" style="width:40%")
                                                option(value="1") CARTA
                                            span.text-input.mr-3 Numero:
                                            input.input-form(type="text" )
                                        div.mt-1.row
                                            span.text-input.mr-3 Origen:
                                            select(v-model="type8"  class="input-form mr-1" style="width:40%")
                                                option(value="1") MESA DE PARTES
                                            span.text-input(style="width:60px") DNI Tramitador:
                                            input.input-form(type="text" )
                                        div.mt-1
                                            .row
                                                span.text-input.mr-4.pr-2.mt-3 Asunto:
                                                textarea(rows="3")
                                                span.text-input.mr-4.pr-2.mt-3 Observacion:
                                                textarea(rows="3")
                                    .col-lg-6
                                        .row
                                            input.mt-1.ml-1(type="checkbox")
                                            span.mr-5 Sensible
                                            span.input-text Atender en 
                                            input(type="text" style="width:20px;height:20px")
                                            span dias
                                        .row
                                            span.text-input.mr-3 Destino que Indica Tramitante:
                                            select(v-model="type9"  class="input-form mr-1" style="width:30%")
                                                option(value="1") --Seleccionar--
                                            span.input-text Folios 
                                            input.input-form(type="text" )
                                        div.text-border
                                            label.text-primary.font-weight-bold REFERENCIA
                                            .row.p-3
                                                .col-lg-2.p-3
                                                    div.mb-2
                                                        button.btn.btn-light.text-primary(style="font-size:10px;border:solid 1px #ccc") #[i.fas.fa-plus-circle]
                                                    div
                                                        button.btn.btn-light.text-primary(style="font-size:10px;border:solid 1px #ccc") #[i.fas.fa-minus-circle]
                                                .col-lg-10.p-3
                                                    .table-responsive
                                                        table.table.table-primary
                                                            thead
                                                                tr(style="font-size:12px")
                                                                    th 
                                                                        span.text-primary.font-weight-bold Año
                                                                    th 
                                                                        span.text-primary.font-weight-bold Tipo Documento
                                                                    th 
                                                                        span.text-primary.font-weight-bold Nro Expediente
                                                                    th 
                                                                        span.text-primary.font-weight-bold Fecha
                                                                
                                            
                    .col-lg-12.mt-3
                        div.text-border
                            label.text-primary.font-weight-bold Destinatario
                            .col-lg-12.p-3
                                .row
                                    .col-lg-1.p-2
                                        div.mb-2
                                            button.btn.btn-light.text-primary(style="font-size:10px;border:solid 1px #ccc") #[i.fas.fa-plus-circle]
                                        div
                                            button.btn.btn-light.text-primary(style="font-size:10px;border:solid 1px #ccc") #[i.fas.fa-minus-circle]
                                    .col-lg-11.p-3.float-left
                                        .table-responsive
                                            table.table.table-primary.mb-0
                                                thead
                                                    tr(style="font-size:12px")
                                                        th 
                                                            span.text-primary.font-weight-bold Dependencia
                                                        th 
                                                            span.text-primary.font-weight-bold Local 
                                                        th 
                                                            span.text-primary.font-weight-bold Personal
                                                        th 
                                                            span.text-primary.font-weight-bold Tramite
                                                        th 
                                                            span.text-primary.font-weight-bold Indicacions
                                                        th 
                                                            span.text-primary.font-weight-bold Prioridad
                                                        th 
                                                            span.text-primary.font-weight-bold Fecha
                                                    tbody
                                            div.text-center(style="width:100%;background:#fdf5ce;color:#d2ce8d;border:solid 1px #d2ce8d;")
                                                span NO HAY INFORMACION DISPONIBLE EN LA TABLA
        cargos-generar(v-if="nuevocargo" @click="cerrarcargo")
</template>
<script>

export default {
    props:[],
    data() {
        return {
            nuevocargo:false,
            cargo:true
        }
    },
    mounted() {

    },
    methods: {
        nuevoCargo(){
            this.nuevocargo = true
            this.cargo = false
        },
        cerrarcargo(){
            this.cargo = true
            this.nuevocargo = false
        }
    },
    created() {
    },
}
</script>
