
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
body{
  background: white !important;
}
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.content{
  border:solid 1px #ccc
}
.text-border{
  height:auto;
  width:auto;
  border:1px solid #ccc;
  border-radius:5px;
}
.text-border > label{
  width:141px;
  margin-top:-10px;
  margin-left:5px;
  background:white;
  position: absolute;
  height: 10px;
}
.input-form{
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 25px;
  color: #666666;
  outline: none;
  padding: 0 5px;
}
.text-input{
  font-size: 11px;
}
