<template lang="pug">
    div
        div(v-if="master")
            .col-lg-12.col-sm-12(class="bg-primary text-white font-weight-bold") RECEPCION DOCUMENTOS EXTERNOS
            .colp-lg-12.content.p-1
                .btn-group(role="group")
                    button.btn.btn-primary(@click="newDExterno")  #[i.fas.fa-book] Nuevo
                    button.btn.btn-primary  #[i.fas.fa-edit] Editar
                    button.btn.btn-primary  #[i.fas.fa-file-alt] Ver Documento
                    button.btn.btn-primary  #[i.fas.fa-paperclip] Ver Anexos
                    button.btn.btn-primary  #[i.fas.fa-exchange-alt] Seguimiento 
                    button.btn.btn-primary  #[i.fas.fa-file-export] Exportar 
                    button.btn.btn-primary  #[i.fas.fa-caret-down]  
                    button.btn.btn-primary  #[i.fas.fa-sign-out-alt] Salir
            .col-lg-12
                .row.mt-4.p-2
                    .col-lg-6
                        div.text-border
                            label.text-primary.font-weight-bold Datos del expediente
                            .col-lg-12.p-3
                                .row
                                    .col-md-6
                                        span.text-input.mr-1 Nro de Expediente:
                                        input.input-form(type="text" )
                                    .col-md-6
                                        span.text-input.mr-1 Nro de Expediente:
                                        input.input-form(type="text")
                                    .col-lg-6.mt-2.row
                                        .col-lg-4
                                            span.text-input Tipo de Exp: 
                                        .col-lg-8
                                            select.input-form(v-model="type_exp" style="width:100%")
                                                option Todo
                                    .col-lg-12.row.mt-2
                                        .col-lg-2
                                            span.text-input Asunto:
                                        .col-lg-10
                                            input.input-form(style="width:100%")
                    .col-lg-6
                        div.text-border
                            label.text-primary.font-weight-bold Datos del documento
                            .col-lg-12.p-3
                                .row
                                    .col-md-6
                                        div(style="border:solid 1px #ccc; width:190px;")
                                            span.text-input DEL: 01/07/2019 AL: 01/07/2019
                                    .col-md-6
                                        .row
                                            .col-md-3
                                                span.text-input.mr-1 Estado:
                                            .col-md-9
                                                select(v-model="type_exp" class="input-form" style="width:100%")
                                                    option En Registros
                                    .col-lg-6.mt-1
                                        .row
                                            .col-lg-3
                                                span.text-input.mr-1 Emisor:
                                            .col-lg-9
                                                select(v-model="type_exp" class="input-form"  style="width:100%")
                                                    option Todos
                                    .col-lg-6.mt-1
                                        .row
                                            .col-lg-3
                                                span.text-input.mr-1 Tipo Doc:
                                            .col-lg-9
                                                select(v-model="type_exp" class="input-form"  style="width:100%")
                                                    option Todos
                                    .col-lg-6.mt-1
                                        .row
                                            .col-lg-3
                                                span.text-input.mr-1 Origen:
                                            .col-lg-9
                                                select(v-model="type_exp" class="input-form"  style="width:100%")
                                                    option Todos
                                    .col-lg-12.mt-1
                                        .row
                                            .col-lg-3
                                                span.text-input.mr-1 Destinatario:
                                            .col-lg-9
                                                div(style="width:100%;border:solid 1px #ccc;border-radius:5px;background:#ddd")
                                                    input(type="text" class="input-form pl-1" style="border:transparent;width:95%;border-radius:0px" placeholder="[TODOS]")
                                                    i.fas.fa-search.p-1
                                    .col-lg-12.mt-1
                                        .row
                                            .col-lg-3
                                                span.text-input.mr-1 Origen Rec:
                                            .col-lg-9
                                                div(style="width:100%;border:solid 1px #ccc;border-radius:5px;background:#ddd")
                                                    input(type="text" class="input-form pl-1" style="border:transparent;width:95%;border-radius:0px" placeholder="[TODOS]")
                                                    i.fas.fa-search.p-1


                    .col-lg-12.mt-2
                        div.text-border
                            label.text-primary.font-weight-bold Datos del remitente
                            .col-lg-12.p-3
                                .row
                                    .col-lg-3.mt-1
                                        .row
                                            .col-lg-3.pr-0
                                                span.text-input.mr-1 Tipo:
                                            .col-lg-9.pl-0
                                                select(v-model="type_exp" class="input-form"  style="width:100%")
                                                    option CIUDADANO
                                    .col-lg-3.pl-0
                                        .row
                                            .col-lg-3.pr-0
                                                span.text-input DNI:
                                            .col-lg-9.pl-0
                                                input.input-form(type="text")
                                    .col-lg-6
                                        div(style="width:100%;border:solid 1px #ccc;border-radius:5px;background:#ddd")
                                            input(type="text" class="input-form pl-1" style="border:transparent;width:95%;border-radius:0px" placeholder="[TODOS]")
                                            i.fas.fa-search.p-1
                    .col-lg-12.mt-3
                        div.text-border
                            label.text-primary.font-weight-bold Datos del documento
                            .col-lg-12.p-3
                                .table-responsive
                                    table.table.table-primary.mb-0
                                        thead
                                            tr(style="font-size:12px")
                                                th 
                                                    span NRO EXPEDIENT #[i.fas.fa-sort]
                                                th 
                                                    span FECHA EXP #[i.fas.fa-sort]
                                                th 
                                                    span FECHA EMI #[i.fas.fa-sort]
                                                th 
                                                    span ESTADO #[i.fas.fa-sort]
                                                th 
                                                    span TIPO EXPEDIENTE #[i.fas.fa-sort]
                                                th 
                                                    span TIPO EMISOR #[i.fas.fa-sort]
                                                th 
                                                    span REMITENTE #[i.fas.fa-sort]
                                                th 
                                                    span ASUNTO  #[i.fas.fa-sort]
                                                th 
                                                    span TIPO DOC #[i.fas.fa-sort]
                                                th 
                                                    span N° DNI  #[i.fas.fa-sort]
                                                th 
                                                    span DESTINATARIO #[i.fas.fa-sort]
                                                th 
                                                    span ORIGEN REC #[i.fas.fa-sort]
                                        tbody
                                    div.text-center(style="width:100%;background:#fdf5ce;color:#d2ce8d;border:solid 1px #d2ce8d; ")
                                        span NO HAY INFORMACION DISPONIBLE EN LA TABLA
        nuevo-docexterno(v-if="nuevo_doc" @click="close")
</template>
<script>

export default {
    props:[],
    data() {
        return {
            type_exp:'',
            nuevo_doc:false,
            master:true
        }
    },
    mounted() {

    },
    methods: {
        newDExterno(){
            this.nuevo_doc = true
            this.master = false
        },
        close(){
            this.nuevo_doc = false
            this.master = true
        }
    },
    created() {
    },
}
</script>
